<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Jogos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    <div class="container text-center position-relative">
        <a href="{{ url_for('ranking') }}" class="btn btn-link position-absolute" style="top: 10px; right: 10px;">Ranking</a>
        <h1 class="display-4">Menu de Jogos</h1>
        <div class="list-group mt-4">
            <a href="{{ url_for('moving_image_game') }}" class="list-group-item list-group-item-action">Speed Burger</a>
            <a href="{{ url_for('quiz') }}" class="list-group-item list-group-item-action">Quiz</a>
            <a href="{{ url_for('genius') }}" class="list-group-item list-group-item-action">Memo Lanche</a>
        </div>
    </div>
</body>
</html>
